.About {
  padding-top: 11vh;
  display: flex;
  flex-direction: column;
  height: max-content;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 28px;
//   h1 {
//     color: var(--secondary-color);
//   }
  .about-description {
    // background-color: #0A3A99;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #040203;
    font-weight: 600;
    // margin: 40px;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      margin: 0;
      overflow: hidden;
    }

    .imagecard {
      display: flex;
      //   flex-wrap: wrap;

      gap: 30px;

      .card {
        color: var(--secondary-color);
        border-radius: 10px;
        border: var(--border-color) 1px solid;
        padding: 9px;
      }
    }

    div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: #a41e22;
      .about-description-image {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top: none;
        @media screen and (max-width: 800px) {
          border-radius: 10px;
          margin: 0;
          padding: 0;
        }
      }
    }

    .about-description-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 50px;
      @media screen and (max-width: 800px) {
        gap: 20px;
      }

      background-repeat: no-repeat;
      background-size: cover;

      padding: 10px;
      font-weight: 500;
      margin-left: 20px;
      border-radius: 10px;
    }
    .about-tittle {
      color: var(--secondary-color);
     @media screen and (max-width: 800px) {
        gap: 20px;
      }
    }
    .about-details{
        text-align: justify;
        // text-indent: 10%;
        text-overflow: clip;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .horiline {
      width: 100%;
      height: 5px;
      background-color: #a41e22;
      border-radius: 2px;
    }
  }
  // @media screen and (max-width: 900px) {
  //   display: flex;
  //   flex-direction: column;

  // }

  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }
}

button {
  list-style: none;
  padding: 8px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: none;
  &:hover {
    background-color: var(--action-color);
  }
  a {
    color: var(--white-color);
    font-weight: 500;
    text-decoration: none;
    text-align: center;
  }
}

// .horiline {
//   width: 100%;
//   height: 5px;
//   background-color: #a41e22;
//   border-radius: 10px;
// }
