.link-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link-head {
  .head-title {
    color: #efefef;
    font-weight: 700;
  }
}

.linkName {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  .link-container {
    .linkName-list {
      color: var(--border-color);
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
