.aboutus {
  display: flex;
  // background-color: red;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-top: 12vh;
}

.home-icon {
  // width: 100%;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
//   align-self: center;
}
.about-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
//   background: url("../../Assets/Sprinkle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 0 20%;
     @media screen and (max-width:900px) {
      padding: 0 5%;
     }

    .about-text {
      color: #292f36;
      font-size: 17px;
      text-align: justify;
      // font-weight: 600;
    }
  }
}
