.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 40px;
}
.notfound-logo,
.notfound-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notfound-image{
   
  // position: relative;
  max-width: 400px;
 
  img{
    width: 100%;
  }


}



.notfound-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

}

