.NavBar {
  color: #13104c;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 4px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
  height: 11vh;
}

.navbar_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 11vh;

  img {
    width: 90px;
    height: 20px;

    @media only screen and (max-width: 2000px) {
      width: 100%;
      height: 100%;
      // padding-right: 9% !important;
    }
  }
}

.navbar_list {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    justify-items: center;
    align-items: center;

    div {
      border-radius: 50%;
      height: 5px;
      width: 5px;
      background-color: transparent;
      margin-bottom: 5px;

      align-self: center;
    }
    a {
      color: #6b7688;
      text-decoration: none;
      text-transform: capitalize;
      transition: all 0.5s ease-in-out;
      font-weight: 800;
      &:hover {
        color: #13104c;
      }
    }
    &:hover {
      div {
        background: #13104c;
      }
    }
  }
  @media screen and (max-width: 900px) {
    display: none;
  }
}
.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--secondary-color);

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: var(--white-color);
    flex-direction: column;
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      li {
        margin: 1rem;

        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: capitalize;
          font-weight: 500;

          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}
