.imageCard {
  display: flex;
  max-width: 800px;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s ease-in-out;

  background-color: #fff;
  padding: 40px;
  gap: 20px;
  border-radius: 10px;

  img {
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    border-top: none;
    @media screen and (max-width: 800px) {
      border-radius: 10px;
      margin: 0;
      padding: 0;
    }
  }
  &:hover {
    scale: 1.05;
  }
}

.tittle {
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary-color);
}
.title-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  //   padding-right: 5px;
}
.description {
 
  font-size: 15px;
  color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}
.img-card-span {
  overflow: hidden !important;
}
.image-desc-container{
  display: flex;
}