.disabled-button {
    background-color: gray;
    color: white;
    cursor: not-allowed;
    &:hover{
        background-color: gray;
        color: white;
        cursor: not-allowed;
        
    }
  }